body {
    text-align: center;
    background-color: white;
    margin: 0px;

}

#tag {
    float: left;
    font-size: 50px;
    top: 20px;
    font-family: sans-serif;
    box-shadow: 0 0 1px black;
    border-radius: 20px;
}
/*loading*/
#loading{
    margin: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff
    url("https://i.gifer.com/XlO9.gif")
    no-repeat center;
    z-index: 9999999999999;

}


#header {
    background: linear-gradient(45deg, lightslategray, steelblue, lightslategray);
    border-radius: 4px;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
}


#count-1,
#count-2,
#count-3,
#count-4,
#count-5
{
    font-size: 35px;
    padding: 2px 16px;

}

#count-1{
    color: #6586a2;
}

#count-2 {
    color: #ffbd33;
}

#count-3 {
    color: #006464;
}

#count-4 {
    color: red;
}
#count-5{
    color: green;
}


.container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

#b-1,#g-1,#y-1,#r-1,#t-1 {
    font-family: 'Heebo', sans-serif;
    color: black;
}


a #btn {
    background-color: #f44336; /* Green */
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 30px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
a #btn:hover {
    background-color: #4CAF50;
    color: white;
}


a #btn-1 {
    background-color:#f44336;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 30px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

a #btn-1:hover {
    background-color: #4CAF50;
    color: white;
}


footer {
    margin: 20px;
    background: black;
    padding: 12px;
    text-align: center;
    color: white;
    font-style: initial;
}
@media only screen and (max-width: 768px){
    h1,h2{
        margin-left: 15px;
        margin-right: 15px;
    }}






